/*** button **/

.contact_button{
    width: auto;
    height: auto;
    padding:15px 30px;
    background-color: var(--colorEntrepriseDown);
    color:white;
    border: none;
    border-radius: 5px;
}

.contact_button:hover, .contact_button:focus-visible{
    transition-duration: 0.3s;
    cursor:pointer;
    background-color: var(--colorEntrepriseUp);
    outline: none;
}


/**filter*************************/
/**box content filter + triée par*/
.collectionPhotographerheader {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    margin: 30px 0 15px 0;
}

/*filter*/
/* Styles du conteneur */
.select-container {
    position: relative;
    display: inline-block;

    background-color: var(--colorEntrepriseUp);
    border-radius: 5px;
    display: flex;
    flex-wrap: nowrap;
}

.select-container:hover, .select-container:focus-visible{
    cursor: pointer;
    outline: none;
    background-color: var(--colorEntrepriseDown);
    transition-duration: var(----modalDurationFast);
}

/* Réinitialisez les styles du select */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-right: 25px;
    /* Espace pour l'icône */
}

label {
    font-size: var(--fontSizeCoreUp);
    color: var(--colorNeutralDown);
    margin-right: 20px;
}

.iconFilter {
    background-image: url(../assets/icons/icon_arrow_filter_black.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* Ajoutez vos propres styles */
.custom-select {
    font-size: 16px;
    color: var(--colorNeutralSwap);
    border-radius: 5px;
    height: 50px;
    padding: 10px 20px;
    width: 150px;
}

.custom-select option {
    transition-duration: 0.3s;
    background-color: var(--colorBackgroundDark-);
    border-bottom: 2px solid var(--colorNeutralSwap);
    background-color: var(--colorEntrepriseUp);
}

.custom-select option:hover, .custom-select option:focus-visible{
    background-color: var(--colorEntrepriseDown);
    cursor: pointer;
}

/* Style pour l'option par défaut */
select.custom-select>option:first-child {
    display: none;
}