@import url("style_variable.css");

/****CONTACT**MODAL***************************/

#contact_modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 670px;
    background-color: var(--colorEntrepriseDownLow);
    padding: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-radius: 5px;
}

/*header*/
.FormHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.FormHeader h2 {
    font-size: var(--fontSizeTitle);
    font-weight: normal;
    text-align: center;
    margin: 0;
}

/*icon close*/
.closeIconContact{
    width: 35px;
    height: 35px;
    background-size: contain;
    background-image: url(../assets/icons/icon_close_white.svg);
}

.closeIconContact:hover{
    cursor: pointer;
    background-image: url(../assets/icons/icon_close_black.svg);
}


/*label*/
#FormLogin{
    align-items: start;
}

.formData {
    width: 100%;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}

.formData label {
    font-size: 20px;
}

.text-control {
    height: 45px;
    border: none;
    border-radius: 5px;
}

.inputComment {
    height: 80px;
}

.modal {
    border-radius: 5px;
    background-color: var(--colorEntrepriseDown);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

/**message error*/

#error{
    color: var(--colorEntrepriseUp);
}