.photographer_section article{
    padding:15px;
}
.photographer_section article:hover{
    transition-duration: 0.3s;
    background-color: rgba(235, 235, 235, 0.192);
    box-shadow: 3px 3px 5px 6px #cccccc2a;
    border-radius: 15px;
    cursor: pointer;
}

.photographer_section article div{
    height: 200px;
    width: 200px;

    border-radius: 50%;
    overflow: hidden;

}

.photographer_section article div img{
    width: 105%;
}