@import url("style_variable.css");
@import url("universal.css");
@import url("button.css");


/*card photographer*/

.photographer_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    padding:10px;
}

.photographer_section p {
    margin:0;
}

.locationPhotographer {
    color: var(--colorEntrepriseUp);
    font-size: var(--fontSizeCoreUp);
}

.pricePhtoographer {
    color: var(--colorNeutralDown);
    font-size: var(--fontSizeCoredown);
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
    width: calc(32% - 30px);
    padding:25px 15px;
    border-radius: 15px;
}

@media screen and (max-width: 1060px) {
    .photographer_section article {
        width: calc(50% - 30px);
    }
}

@media screen and (max-width: 700px) {
    .photographer_section article {
        width: calc(100% - 30px);
    }
}

.photographer_section article:hover, .photographer_section article:focus-visible {
    transition-duration: 0.3s;
    background-color: var(--colorBackgroundDark-);
    box-shadow: 3px 3px 5px 6px var(--colorShadowDark);
    cursor: pointer;
    outline: none;
}

.photographer_section article div{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.photographer_section article div img{
    width: 105%;
}

.photographer_section article h2 {
    color: var(--colorEntrepriseDown);
    font-size: var(--fontSizeminiTitle);
    text-align: center;
}
