
body{
    padding:0 50px;
}

/**PHOTOGRAPH********************************/

.photographe{
background-color: rgb(234, 234, 234);
}

/**COLLECTION******************************/

.collectionPhotographer {

    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
}

.ParentBoxMedia{
    width:25%;
}

.collectionPhotographerheader{
    width: 100%;
}

.contentMedia{
    width: 100%;
    height:150px;
    overflow: hidden;
}

.contentMedia img, video{
    width:180%;
}



/****CONTACT**MODAL***************************/

#contact_modal {
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    background-color: rgb(101, 101, 101);
    padding: 30px;
    flex-direction: column;
}
.formData{
    margin:5px 0;
    display: flex;
    flex-direction: column;
}

.formData label{
    font-size: 20px;
}
.text-control{
    height: 40px;
    border: none;
    border-radius: 5px;
}

.inputComment{
    height:80px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

/****ICON LIKES*************************/
.iconLikes{
    width:15px;
    height:15px;
    background-color: black;
    border-radius: 5px;
}

.iconLikes:hover{
    background-color: red;
}


/****FOLLOWER*************************/
.compteurFollower{
    position: fixed;
    border-radius: 5px 5px 0 0;
    height:50px;
    min-width:250px;
    background-color: red;
    bottom: 0;
    right: 50px;
}

/****LightBox*************************/

.boxLightBox{
    position: fixed;
    top:5vh;
    left:5vw;
    width: 90vw;
    height:90vh;
    background-color: aquamarine;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.boxLightBox article{
    height:80%;
    width:80%;
    overflow: hidden;
}

.boxLightBox article img{
    width: 150%;
}

/****button next / return*******/

.arrow, .arrowReturn{
    width: 50px;
    height: 50px;
    background-color: blue;
}

.arrowReturn{
    background-color: red;
}