body {
    padding: 0 50px;
}

/**PHOTOGRAPH********************************/

.photographe {
    background-color: rgb(234, 234, 234);
}

/**COLLECTION******************************/

.collectionPhotographer {
    display: flex;
    flex-wrap: wrap;
}

/***card media*/
.ParentBoxMedia {
    width: calc(33% - 10px);
    margin: 15px 5px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
}

.ParentBoxMedia:hover {
    background-color: #db897611;
    cursor: pointer;
}



/*box card media*/
.contentMedia {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
}

/**media*/
.mediaP {
    width: 130%;
    margin: auto;
    transition-duration: 0.3s;
}

.ParentBoxMedia:hover .mediaP {
    transition-duration: 0.3s;
    width: 140%;
}

/*box info under card img or video*/
.boxMediaInfo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 5px;
    width: 100%;
    justify-content: space-between;
}

/*box info = likes icon + number*/
.boxMediaInfoLikes {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

/*name picture*/
.titleMedia {
    font-size: var(--fontSizeCoreUp);
    color: var(--colorEntrepriseUp);
}

/*number like*/
.LikesPicture {
    margin-right: 10px;
    color: var(--colorEntrepriseUp);
    font-size: var(--fontSizeCoreUp);
}

/****ICON LIKES*************************/
.iconLikes {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-image: url(../assets/icons/icon_likes_red.svg);
    background-position: center;
    background-size: contain;
    transition-duration: 0.3s;
}

.iconLikes:hover {
    background-image: url(../assets/icons/icon_likes_black.svg);
}


/***********HEADER INFO PHOTOGRAPH***/

.photographe {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5% 5%;
    height: 300px;
}

#headerInfoP {
    padding-left: 20px;
}

/*name photographe*/
.nameP {
    font-size: var(--fontSizeTitle);
    color: var(--colorEntrepriseDown);
}

/*location*/
.locationP {
    font-size: var(--fontSizeminiTitle);
    color: var(--colorEntrepriseUp);
}

.descriptionP {
    font-size: var(--fontSizeCore);
    color: var(--colorNeutralDown);
}

/*img profil*/
.photographe img {
    border-radius: 50%;
    height: 85%;
}

/****CONTACT**MODAL***************************/

#contact_modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(101, 101, 101);
    padding: 30px;
    flex-direction: column;
}

.formData {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}

.formData label {
    font-size: 20px;
}

.text-control {
    height: 40px;
    border: none;
    border-radius: 5px;
}

.inputComment {
    height: 80px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}


/****FOLLOWER*************************/
.compteurFollower {
    position: fixed;
    border-radius: 5px 5px 0 0;
    height: 50px;
    min-width: 250px;
    background-color: red;
    bottom: 0;
    right: 50px;
}




/**filter*************************/
/**box content filter + triée par*/
.collectionPhotographerheader {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    margin: 30px 0 15px 0;
}

/*filter*/
/* Styles du conteneur */
.select-container {
    position: relative;
    display: inline-block;
}

/* Réinitialisez les styles du select */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-right: 25px;
    /* Espace pour l'icône */
}

.select-container {
    background-color: var(--colorEntrepriseUp);
    border-radius: 5px;
    display: flex;
    flex-wrap: nowrap;


}

label {
    font-size: var(--fontSizeCoreUp);
    color: var(--colorNeutralDown);
    margin-right: 20px;
}

.iconFilter {
    background-image: url(../assets/icons/icon_arrow_filter_white.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* Ajoutez vos propres styles */
.custom-select {
    font-size: 16px;
    color: var(--colorNeutralSwap);
    border-radius: 5px;
    height: 50px;
    padding: 10px 20px;
    width: 150px;
}

.custom-select option {
    border-bottom: 2px solid var(--colorNeutralSwap);


    background-color: var(--colorEntrepriseUp);
}

/* Style pour l'option par défaut */
select.custom-select>option:first-child {
    display: none;
}