@import url("style_variable.css");
@import url("universal.css");
@import url("button.css");

/***********HEADER INFO PHOTOGRAPH***/

.photographe {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5% 5%;
    height: 300px;
    background-color: var(--colorBackgroundLight);
}




#headerInfoP {
    padding-left: 20px;
}

/*name photographe*/
.nameP {
    font-size: var(--fontSizeTitle);
    color: var(--colorEntrepriseDown);
}

/*location*/
.locationP {
    font-size: var(--fontSizeminiTitle);
    color: var(--colorEntrepriseUp);
}

.descriptionP {
    font-size: var(--fontSizeCore);
    color: var(--colorNeutralDown);
}

/*img profil*/
.photographe img {
    border-radius: 50%;
    height: 85%;
}

@media screen and (max-width: 1060px) {
    .photographe{
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        
    }
    
    .photographe img{
        margin-top: 20px;
        height: 150px;
    }
}


/**COLLECTION******************************/

.collectionPhotographer {
    display: flex;
    flex-wrap: wrap;
}

/***card media*/
.ParentBoxMedia {
    width: calc(33% - 10px);
    margin: 15px 5px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
}

@media screen and (max-width: 1060px) {
    .ParentBoxMedia {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 750px) {
    .ParentBoxMedia {
        margin: 15px 0px;
        width: 100%;
    }
}

.ParentBoxMedia:hover, .ParentBoxMedia:focus-visible {
    background-color: var(--colorBackgroundColorEntreprise);
    cursor: pointer;
    outline: none;
}



/*box card media*/
.contentMedia {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    
}

/**media*/
.mediaP {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: var(--modalDurationFast);
}


.ParentBoxMedia:hover .mediaP, .ParentBoxMedia:focus-visible .mediaP {
    transition-duration: var(--modalDurationFast);
    transform: scale(1.2);
}

/*box info under card img or video*/
.boxMediaInfo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 5px;
    width: 100%;
    justify-content: space-between;
}

/*box info = likes icon + number*/
.boxMediaInfoLikes {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

/*name picture*/
.titleMedia {
    font-size: var(--fontSizeCoreUp);
    color: var(--colorEntrepriseUp);
}

/*number like*/
.LikesPicture {
    margin-right: 10px;
    color: var(--colorEntrepriseUp);
    font-size: var(--fontSizeCoreUp);
}

/****ICON LIKES*************************/
.iconLikes {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-image: url(../assets/icons/icon_likes_red.svg);
    background-position: center;
    background-size: contain;
    transition-duration: 0.3s;
}

.iconLikes:hover {
    background-image: url(../assets/icons/icon_likes_black.svg);
}




/****FOLLOWER*************************/
.compteurFollower {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
    border-radius: 5px 5px 0 0;
    height: 50px;
    min-width: 250px;
    padding: 2px 10px;
    background-color: var(--colorEntrepriseDownLow);
    bottom: 0;
    right: 50px;
    font-family:var(--font-default);
    font-weight: 700;
}

.totalLikes{
    font-family: var(--font-default);
}

.iconTotalLikes{
    margin-left: 10px;
    width: 15px;
    height:15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/icons/icon_likes_black.svg);
}

.priceDay{
    position: absolute;
    right: 10px;
}