:root {
    /*font*/
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --modal-duration: 0.8s;
    --modalDurationFast: 0.3s;

    /*color*/
    --colorEntrepriseUp:#901C1C;
    --colorEntrepriseDown:#D3573C;
    --colorEntrepriseDownLow:#DB8876;
    --colorNeutralDown: #525252;
    --colorNeutralSwap: #ffffff;

    --colorBackgroundLight: rgb(234, 234, 234);
    --colorBackgroundDark:rgba(235, 235, 235, 0.192);
    --colorBackgroundColorEntreprise:#db897611;

    --colorShadowDark:#cccccc2a;

    /*test*/
    --fontSizeTitle:50px;
    --fontSizeminiTitle:30px;
    --fontSizeCoreUp:22px;
    --fontSizeCore:15px;
    --fontSizeCoredown:13px;
}