@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

/*** button **/

.contact_button{
    width: auto;
    height: auto;
    padding:15px 30px;
    background-color: #901C1C;
    color:white;
    border: none;
    border-radius: 5px;
}

.contact_button:hover{
    transition-duration: 0.3s;
    cursor:pointer;
    background-color: #741515;
}

/*button media next before*/

.changeMedia{
    width: 50px;
    height:50px;
    background-color: red;
}

.changeMedia:hover{
    cursor: pointer;
}